body {
    background-color: #f8fafa;
}

legend {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

footer {
    font-size: 0.9em;
}